nameOverride: ""
fullnameOverride: ""

namespace:
  create: false

replicaCount: 1

image:
  repository: docker.io/obegron/secret-sync-controller
  tag: ""
  pullPolicy: IfNotPresent

serviceAccount:
  create: true
  name: ""

rbac:
  create: true

controller:
  syncMode: push
  sourceNamespace: ""
  targetNamespace: ""
  hostAPIServer: ""
  hostTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
  hostCAFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
  defaultDeletePolicy: delete
  pullNamespaceIsolation: false
  allowedSyncTargets: ""
  metricsBindAddress: :8080

probes:
  enabled: true
  liveness:
    initialDelaySeconds: 5
    periodSeconds: 10
    timeoutSeconds: 2
    failureThreshold: 3
  readiness:
    initialDelaySeconds: 3
    periodSeconds: 5
    timeoutSeconds: 2
    failureThreshold: 3

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
